html,body
{
	height: 100%;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
        background: url(background_europe.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

a:link,
a:visited,
a:hover,
a:active
{
	color: black;
	text-decoration: none;
}

h1
{
	margin-top: 0;
	font-size: 1.5em;
}

h2
{
	font-size: 1.2em;
}

h3
{
	font-size: 1.0em;
}

div.wrapper 
{
	height: 100%;
	display: table;
	width: 100%;
}

div.header
{
	display: table-row;
	height: 0px;
	background: lightgray;
}

div.main
{
	height: 100%;
	display: table;
	width: 100%;
}

div.footer
{
	display: table-row;
	height: 1px;
	background: lightgray;
}

div.box 
{
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}

div.navbar
{
	width: 230px;
}

div.content
{
}

div.contentheader
{
        border: 1px solid black;
        border-radius: 15px;
	font-size: 3em;
	text-align: center;
	background-color: #238cc7;
}

div.contentbody
{
        border: 1px solid black;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.7);
	padding: 50px;
        margin-top: 20px;
}

div.infobar
{
	width: 230px;
}

img
{
	border: 0px;
}

ul.menu 
{
	list-style-type: none;
	margin: 0px 0px 0px 10px;
	padding: 0px;
}

ul.menu li ul
{
	margin-left: 20px;
}

ul.menu li a
{
	display: block;
	width: 160px;
	color: black;
	background-color: #238cc7;
	border: 1px solid black;
	padding: 8px 0 8px 16px;
	margin-bottom: 1px;
}

ul.menu li a:hover
{
	background-color: #238cc7;
	font-weight: bold;
}

ul.menu li a.active
{
	background-color: #ffe036;
}

form
{
	width: 500px;
}

legend
{
	font-weight: bold;
	border: 1px solid black;
	background-color: #ffe036;
}

fieldset
{
	background-color: #238cc7;
	padding-top: 10px;
}

form div
{
	padding-bottom: 10px;
	vertical-align: top;
}

form label
{
	display: inline-block;
	width: 200px;
}

div.checkboxselect
{
	display: inline-block;
}

table 
{
	border-collapse: collapse;
}

table, th, td 
{
	border: 1px solid black;
}

tr:nth-child(even) 
{
	background-color: #49b9f9;
}

tr:nth-child(odd) 
{
	background-color: #FFFFFF;
}

th 
{
	background-color: #238cc7;
}

th, td
{
	height: 30px;
	padding: 0px 10px 0px 10px;
	text-align: left;
}

a.textlink
{
	text-decoration: underline;
}

a.textlink:hover
{
	font-weight: bold;
}

a.buttonlink
{
	display: inline-block;
	padding: 10px 15px;
	background: #238cc7;
	border: 1px solid black;
	border-radius: 4px;
	margin-bottom: 10px;
}

a.buttonlink:hover
{
	font-weight: bold;
}

a.buttonlink.active
{
	background-color: #ffe036;
}

div.postnav
{
	width: 500px; 
	height: 30px;
}

div.post
{
	width: 500px;
	padding: 2px 2px 10px 2px;
	background: #ffe036;
	border: 1px solid black;
	border-radius: 4px;
	margin-bottom: 20px;
}

div.post div
{
	padding: 2px;
	background: #238cc7;
	border: 1px solid black;
	font-size: 0.8em;
}

div.post a
{
	font-size: 0.8em;
}